body {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;

  background: #333;

  font-family: sans-serif;
}

main {
  display: flex;
  flex-direction: column;

  padding: 32px 16px;

  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 4px;

  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1516339901601-2e1b62dc0c45");
}

button {
  height: 70px;
  width: 70px;

  color: #1d1106;
  background-color: #f5ac5f;
  border-width: 10px;
  border-style: solid;
  border-left-color: #ad793f;
  border-top-color: #ad793f;
  border-right-color: #7e5329;
  border-bottom-color: #7e5329;

  border-radius: 0px;
  margin-left: 6px;
  margin-right: 6px;

  cursor: pointer;
  box-sizing: border-box;
  font-size: 1.5rem;
  font-weight: bold;
}

button:hover {
  color: white;
}

button:active {
  background-color: #9b69b6;
  color: white;
}

#input-container {
  display: flex;
  justify-content: center;
}

input {
  margin-bottom: 32px;
  padding: 16px;

  color: #333;
  background-color: #eee;
  border: none;
  border-radius: 4px;

  text-align: center;
  font-size: 1.2rem;
}

input.success {
  background-color: #93e6b6;
  color: #2ecc71;
}

input.error {
  background-color: #f2a097;
  color: #e74c3c;
}

.row {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;

  margin-top: 8px;
  margin-bottom: 8px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
